body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;


#boxes {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
    margin-right: -4px;
    cursor: pointer;


.box1 {
    background-color: yellow;
}
/*
.box2 {
    background-color: #006884;
}
.box3 {
    background-color: #89dbec;
}
.box4 {
    background-color: #ffd08d;
}
.box5 {
    background-color: #6e006c;
}
.box6 {
    background-color: #f68370;
}
.box7 {
    background-color: #B00051;
}
.box8 {
    background-color: #00909e;
}
.box9 {
    background-color: #ed0026;
}
.box11 {
    background-color: #91278f;
}*/
