.boxes {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
        }

.a {
    background-color: #d2fad5;
        }
.b {
    background-color: #1d3884;
        }
.v {
    background-color: #ec9bcf;
        }
.g {
    background-color: #ff8190;
        }
.d {
    background-color: #6e5648;
        }
.e {
    background-color: #f6ece5;
        }
.z {
    background-color: #b083a8;
        }
.i {
    background-color: #9e8756;
        }
.x {
    background-color: #67ed72;
         }
.y {
    background-color: #918b84;
        }

.mymove {
    -webkit-animation: mymove 2s;
}

.mymove2 {
    -webkit-animation: mymove 2s;
}

@-webkit-keyframes mymove {
    from {top: 0;}
    to {top: 200px;}
        }
@-webkit-keyframes mymove2 {


}






