html {
    background: url(images/8.jpg)  center fixed;
    }

h1{
   font-size: 30px;
   color: rgba(204, 160, 92, 1);
   font-style: italic;
   border-left-width: 15px;
   border-right-width: 15px;
   }

h2{
    color: rgba(0, 0, 0, 0.9);
    font-style: italic;
    border-left-width: 15px;
    border-right-width: 15px;
}

.wrapper{
    position: absolute;
    left: 47%;
    float:right;
    margin: 70px ;
    padding: 12px;
    background-color: rgba(0, 100, 200, 0.2);
    border-radius: 4px 4px 4px 4px;
    }

nav {
    display: block;
   }

ul {
    position: absolute;
    list-style-type: none;
    left: 48%;
    margin: 15px ;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgba(0, 0, 61, 0.9);
    padding: 14px 16px;
    text-decoration: none ;
    font-weight: 900;
}

li a:hover {
    background-color: rgba(300, 201, 300, 0.3);
}

.footer  {
    color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    }

.button {
    outline: none;
    text-align: center;
    text-decoration: none;
    font: bold 15px/150% Helvetica;
    padding: .5em 2em .55em;
    border-radius: .30em;
    box-shadow: 1px 3px 2px rgba(0, 100, 200, 0.3);
   }

.button:active {
    position: relative;
    top: 1px;
}

#rotate {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}


